.WelcomeModal {
  background: var(--color-primary);
  color: white;
  text-align: center;
  padding: 50px;
}

.WelcomeModal h2:nth-child(2) {
  margin-bottom: 50px;
}

.WelcomeModal img {
  width: 300px;
  margin-bottom: 40px;
}

.WelcomeModal p {
  color: white;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .WelcomeModal img {
    width: 100%;
  }
}
