.IconButton {
  color: var(--icon-color);

  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
  background: var(--icon-background-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton:hover {
  background: var(--icon-hover-background-color);
  color: var(--color-white);
  box-shadow: 0px 5px 15px var(--button-shadow-color);
}

.IconButton i {
  border-radius: 50%;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.16, 0.75, 0.16, 1.01);
}

.IconButton:hover i {
  color: var(--color-white);
}
